<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body aurelia-app>

    <script src="/jspm_packages/system.js"></script>
    <script src="/config.js"></script>
    <script>
        System.config({
            babelOptions: {
                "optional": [
                    "es7.decorators"
                ]
            }
        });
        System.import('aurelia-bootstrapper');
    </script>

</body>
</html>